body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.yanshi {
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.mhover1 {
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.mhover1:hover {
	cursor: pointer;
	/* transform: scale(1.1); */
	margin-top: -10px;
}

.mhover2:hover {
	cursor: pointer;
	opacity: 0.8;
}

.zIndex3 {
	z-index: 3;
}

.zIndex4 {
	z-index: 4;
}

.main {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height: 600px;
	overflow: auto;
	background-color: #333;
}

.main .ripple {
	animation-duration: 0.6s;
}

.hMoreAppBox {
	position: fixed;
	z-index: 6;
	left: 0;
	bottom: -100%;
	width: 100%;
	height: calc(100% - 30px);
	background-color: rgba(20, 20, 20, 0.97);
	overflow: auto;
	padding: 30px 30px 150px;
	min-width:1200px;
}

.hMoreAppBoxUp {
	bottom: 0;
	opacity: 1;
}

.hMoreAppBox .hdlAPP {
	margin-bottom: 20px;
}

.hBgBox {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 30px);
	background-color: #333;
	/* background-image: url(./images/hbg001.jpg); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.hBgBox .hBgBoxTxtList{
	padding:30px 30px 170px;
}

.hBgBox .hBgBoxMengban {
	position: absolute;
	z-index: 3;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	/* background:rgba(0,0,0,0.5); */
}


.hTopMune {
	background: #333;
	position: absolute;
	z-index: 11;
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
	padding: 0 18px;
	overflow: hidden;
	color: #fff;
	font-size: 16px;
}

.hTopMune .userBox {
	margin-right: 10px;
	cursor: pointer;
}

.hTopMune .userHeaderPic {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #eee;
	margin-right: 10px;
}

.hTopMune ul li {
	padding: 0 14px;
	font-size: 14px;
	cursor: pointer;
}

.hTopMune .hTopMuneTb {
	margin-right: 10px;
	cursor: pointer;
	font-size: 12px;
}

.hTopPopBoxMengban {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9;
}

.hTopPopBox {
	position: fixed;
	left: 0;
	top: 30px;
	width: 170px;
	/* border-radius:0 0 4px 4px; */
	background: #555;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	z-index: 10;
	font-size: 14px;
}

.hTopPopBox2 ul li .hidenBox .hli,
.hTopPopBox ul li {
	margin: 2px 0;
	padding: 10px 4px 10px 20px;
	background: #444;
	cursor: pointer;
}

.hTopPopBox2 ul li .hidenBox .hli:hover,
.hTopPopBox ul li:hover {
	background: #333;
}

.hTopPopBox ul li img {
	width: 20px;
	height: 20px;
	margin-right: 6px;
}

.hTopPopBox2 {
	left: 160px;
	width: 180px;
}

.hTopPopBox2 ul li {
	position: relative;
}

.hTopPopBox2 ul li img {
	width: 16px;
	height: 16px;
}

.hTopPopBox2 ul li .hidenBox {
	position: absolute;
	display: none;
	left: 180px;
	top: -2px;
	width: 180px;
	background: #555;
}

.hTopPopBox2 ul li:hover .hidenBox {
	display: block;
}

.hBottomMune {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 8;
	width: 1110px;
	height: 124px;
	bottom: 0;
	left: 50%;
	margin-left: -555px;
	border-radius: 20px 20px 0 0;
	padding: 18px 14px 0;
	overflow: hidden;
}

.hdlAPP {
	width: 90px;
	height: 90px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	/* background:#999; */
	cursor: pointer;
}

.hdlAPP img {
	width: 64px;
	height: 64px;
	border-radius: 16px;
	/* background: #E4E4E4; */
	margin-bottom: 4px;
}

.homeBox {
	position: absolute;
	/* left:30%;
	top:6%; */
	/* z-index:2; */
	border-radius: 20px;
	background: #fff;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
	/* min-width: 400px;
	min-height: 560px; */
	overflow: hidden;
}

.homeBox .homeBoxTopNav {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #333;
	padding: 0 20px;
	text-align: right;
	color: #fff;
	font-size: 14px;
	cursor: move;
}

.homeBoxCom {
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	height: calc(100% - 30px);
	overflow: hidden;
}
.homeBoxComIframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: auto;
	background: #f5f5f5;
}

/*滚动条整体样式*/
.homeBoxComIframe::-webkit-scrollbar {
	width: 12px;
	height: 1px;
}

/*滚动条滑块*/
.homeBoxComIframe::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #535353;
}

/*滚动条轨道*/
.homeBoxComIframe::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
	background: #ccc;
}

.homeAppBigShow2 {
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	top: 0 !important;
	bottom: 124px !important;
	border-radius: 0 !important;
}



.homeBoxComIframe .HxtBox {
	font-size: 14px;
	color: #333;
	padding-top: 14px;
}

.homeBoxComIframe .HxtBox dl {
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.homeBoxComIframe .HxtBox dt {
	padding: 0 0 10px 20px;
	color: #666;
}

.homeBoxComIframe .HxtBox dd {
	padding: 10px 10px 10px 20px;
	/* margin-bottom:1px; */
	background: #fff;
	line-height: 26px;
	font-size: 16px;
	border-top: 1px solid #eee;
}
.homeBoxComIframe .HxtBox dd:hover{
	background:#f0f0f0;
}

.homeBoxComIframe .HxtBox i {
	display: inline-block;
	width: 28px;
}

.homeBoxComIframe .HxtBox .text {
	padding: 10px 0;
	font-size: 14px;
}

.homeBoxComIframe .HxtBox dd .tb1 {
	width: 26px;
	height: 26px;
	margin-right: 10px;
	border-radius: 6px;
	background: #eee;
}

.homeBoxComIframe .HxtBox dd .tb2 {
	width: 16px;
	/* height:20px; */
}

.homeBoxComIframe .HxtBox dd a {
	text-decoration: none;
	font-size: inherit;
	color: #333;
}
.homeBoxTextarea{
	padding:20px;
	font-size:14px;
	width:100%;
	height:100%;
	box-sizing:border-box;
}

.fc999 {
	color: #999;
}

.fcdd6161 {
	color: #DD6161;
}

.fc50c7ff {
	color: #50C7FF;
}
