<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>世上再没有第二个如你一般的人</title>
		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/donghua.css" />
		<link rel="stylesheet" href="./css/home.css" />
		<script src="./js/vue.min.js"></script>
	</head>

	<body>
		<div id="app" class="main">
			<div class="hTopMune flexSb">
				<div class="flexSt">
					<div class="userBox flexSt">
						<img class="userHeaderPic" src="./images/icon002.gif" alt="">
						<div class="ueser mhover2">啊屁股</div>
					</div>
					<ul class="flexSt">
						<li class="mhover2" @click="hTopPopBox = !hTopPopBox , hTopPopBox2=false">开始</li>
						<li class="mhover2" @click="hTopPopBox2 = !hTopPopBox2 , hTopPopBox=false">编辑</li>
						<li class="mhover2">技术支持</li>
					</ul>
				</div>
				<div class="flexSt">
					<img class="hTopMuneTb mhover2" src="./images/icon-zhifubao.png" alt="" title="支付宝" @click="openApp('支付宝')">
					<img class="hTopMuneTb mhover2" src="./images/icon-weChat.png" alt="" title="微信" @click="openApp('微信')">
					<img class="hTopMuneTb mhover2" src="./images/icon-kaifa.png" alt="" title="开发内测">
					<img class="hTopMuneTb mhover2" src="./images/icon-wangluo.png" alt="" title="网络">
					<div class="flexSt hTopMuneTb mhover2">
						<p>80%</p>
						<img src="./images/icon-dianlian.png" alt="" title="电量">
					</div>
					<div style="width:188px;">{{timeDiv}}</div>
				</div>
			</div>
			
			<div class="hTopPopBoxMengban" v-show="hTopPopBox || hTopPopBox2" @click="hTopPopBox = false,hTopPopBox2 = false"></div>
			<div class="hTopPopBox ripple slideInDown" v-show="hTopPopBox" @click="hTopPopBox = false">
				<ul>
					<li class="flexSt" @click="openApp('关于本站')"><img src="./images/icon-yun.png" alt="">关于本站</li>
					<li class="flexSt" @click="shoucangHome"><img src="./images/icon-xingxing.png" alt="">收藏本站</li>
					<li class="flexSt" @click="chongqiHome"><img src="./images/icon-shuaxin.png" alt="">重启</li>
					<li class="flexSt" @click="guanji"><img src="./images/icon-guanji.png" alt="">关机</li>
					<!-- <li class="flexSt"><img src="./images/icon-close2.png" alt="">取消</li> -->
				</ul>
			</div>
			<div class="hTopPopBox hTopPopBox2 ripple slideInDown" v-show="hTopPopBox2" @click="hTopPopBox2 = false">
				<ul>
					<li>
						<div class="flexSb">新建 <img src="./images/icon-xiangyou.png" alt=""></div>
						<div class="hidenBox">
							<div class="hli">新建应用</div>
							<div class="hli">新建文本</div>
							
							
							<div class="hli">新建绘图</div>
						</div>
					</li>
					<li>
						<div class="flexSb">显示 <img src="./images/icon-xiangyou.png" alt=""></div>
						<div class="hidenBox">
							<div class="hli" @click="openApp('壁纸')">更换壁纸</div>
							<div class="hli">图标大</div>
							<div class="hli">图标中</div>
							<div class="hli">图标小</div>
						</div>
					</li>
					<li class="flexSt" @click="openApp('任务管理器')">任务管理器</li>
				</ul>
			</div>
			
			
			
			<!-- @click="seleHomeApp(item.appName)" -->
			<div class="hBgBox" style="background-image: url(./images/hbg001.jpg);">
				<div class="hBgBoxMengban" v-show="flags"></div>
				<div class="homeBox ripple zoomIn" v-for="(item,index) in homeAppList"
				 :class="{ 'zIndex4': seleHomeAppName ==item.appName, 'homeAppBigShow2': homeAppBig == item.appName,'yanshi':!flags }"
				 :style="{left:item.left+'px',top:item.top+'px',width:item.width+'px',height:item.height+'px'}"
				 v-if="item.appShow">
					<div class="homeBoxTopNav flexSb"
						@mousedown="down(index)" @touchstart="down(index)"
						@mousemove="move(index)" @touchmove.prevent="move(index)"   
						@mouseup="end(index)" @touchend="end(index)"
					>
						<div>{{item.appName}}</div>
						<div>
							<img class="homeBoxTb mhover2" src="./images/icon-toBig.png" alt="" title="窗口大小" @click.stop="homeAppBigShowBtn(item.appName)">
							<img class="homeBoxTb mhover2" src="./images/icon-close.png" alt="" title="关闭" @click.stop="closeApp(item.appName)">
						</div>
					</div>
					<div class="homeBoxCom" v-if="item.appName == '任务管理器'">
						<div class="homeBoxComIframe">
							<div class="HxtBox">
								<dl>
									<dt>当前运行</dt>
									<dd v-for="(item3,index3) in homeAppList" v-show="item3.appShow" class="flexSb">
										<div class="flexSt"><img class="tb1" :src="item3.appTb" alt="">{{item3.appName}}</div> 
										<img class="tb2 mhover2" src="./images/icon-close3.png" alt="" @click.stop="closeApp(item3.appName)">
									</dd>
								</dl>
								<dl>
									<dd class="curP" @click.stop="closeAllApp">关闭全部运行</dd>
								</dl>
							</div>
						</div>
					</div>
					<iframe v-else class="homeBoxCom" :src="item.appUrl" frameborder="0" scrolling="auto" :ref="item.id"></iframe>
				</div>
			</div>
			
			
			
			
			
			<div class="hMoreAppBox clearfix ripple slideInUp yanshi" :class="hMoreAppBox?'hMoreAppBoxUp':''" @click="hMoreAppBox = !hMoreAppBox">
				<div class="hdlAPP fl mhover2" v-for="(item,index) in homeAppList" @click.stop="openApp(item.appName)">
					<img :src="item.appTb" alt="">
					<p class="ellipsis_1">{{item.appName}}</p>
				</div>
			</div>
			<div class="hBottomMune ripple slideInUp" v-show="homeAppBig ==''">
				<div class="hdlAPP mhover1 fl" @click="hMoreAppBox = !hMoreAppBox">
					<img src="./images/icon003.gif" alt="">
					<p class="ellipsis_1">更多应用</p>
				</div>
				<div class="hdlAPP mhover1 fl ripple zoomIn" v-for="(item,index) in homeAppList" v-if="index<11" @click="openApp(item.appName)">
					<img :src="item.appTb" alt="">
					<p class="ellipsis_1">{{item.appName}}</p>
				</div>
			</div>
			
			
			
			
			
			
			
		</div>

		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					hTopPopBox:false,
					hTopPopBox2:false,
					hMoreAppBox:false,
					seleHomeAppName:"",
					homeAppBig:"",
					timeDiv:"2020年12月00日  11:23:06",
					flags: false,
					position: { x: 0, y: 0 },
					nx: '', ny: '', dx: '', dy: '', xPum: '', yPum: '',
					
					homeAppList:[
						{
							id:"tukuBox",
							appShow:false,
							appName:"图库",
							appTb:"./images/appTbtuku.png",
							appUrl:"./homeHtml/tukuBox.html",
							left:200,
							top:30,
							width:780,
							height:500,
						},
						{
							id:"zhifubaoBox",
							appShow:false,
							appName:"支付宝",
							appTb:"./images/appTbzhifubao.png",
							appUrl:"./homeHtml/zhifubaoBox.html",
							left:200,
							top:100,
							width:280,
							height:420,
						},
						{
							id:"weixinBox",
							appShow:false,
							appName:"微信",
							appTb:"./images/appTbweixn.png",
							appUrl:"./homeHtml/weixinBox.html",
							left:120,
							top:50,
							width:280,
							height:420,
						},
						{
							id:"zwdzjsBox",
							appShow:false,
							appName:"植物大战僵尸",
							appTb:"./images/gameTbzwdzjs.jpg",
							appUrl:"./homeHtml/gameZwdzjs/index.html",
							left:40,
							top:10,
							width:910,
							height:644,
						},
						{
							id:"wangyiyunMusicBox",
							appShow:false,
							appName:"酷我音乐",
							appTb:"./images/appTbkuwo.jpeg",
							appUrl:"https://www.kuwo.cn/",
							left:10,
							top:20,
							width:1100,
							height:600,
						},
						{
							id:"newsBox",
							appShow:false,
							appName:"网易新闻",
							appTb:"./images/appTbwynews.jpg",
							appUrl:"https://3g.163.com/touch/news/",
							left:160,
							top:90,
							width:380,
							height:500,
						},
						{
							id:"zuopinBox",
							appShow:false,
							appName:"啊屁股的作品",
							appTb:"./images/appTb001.jpg",
							appUrl:"./homeHtml/zuopinBox.html",
							left:160,
							top:90,
							width:380,
							height:500,
						},
						{
							id:"tianqiBox",
							appShow:false,
							appName:"天气",
							appTb:"./images/appTbtianqi.png",
							appUrl:"http://m.hao123.com/a/tianqi",
							left:800,
							top:90,
							width:400,
							height:400,
						},
						{
							id:"zhuangxiouBox",
							appShow:false,
							appName:"网页装修原理",
							appTb:"./homeHtml/zuopin/decoration/logo.jpg",
							appUrl:"./homeHtml/zuopin/decoration/index.html",
							left:10,
							top:10,
							width:1190,
							height:580,
						},
						{
							id:"renwujihuaBox",
							appShow:false,
							appName:"任务计划",
							appTb:"./images/appTbrenwujihua.png",
							appUrl:"./homeHtml/renwujihuaBox.html",
							left:770,
							top:60,
							width:380,
							height:500,
						},
						{
							id:"renwuguanliBox",
							appShow:false,
							appName:"任务管理器",
							appTb:"./images/icon002.gif",
							appUrl:"./homeHtml/renwuguanliBox.html",
							left:800,
							top:30,
							width:380,
							height:500,
						},
						{
							id:"bizhiBox",
							appShow:false,
							appName:"壁纸",
							appTb:"./images/appTbbizhi.png",
							appUrl:"./homeHtml/bizhiBox.html",
							left:740,
							top:30,
							width:360,
							height:500,
						},
						{
							id:"aboutBox",
							appShow:true,
							appName:"关于本站",
							appTb:"./images/icon001.jpg",
							appUrl:"./homeHtml/aboutBox.html",
							left:180,
							top:110,
							width:380,
							height:500,
						},
						
	
						
					]
				},
				mounted() {
					this.start()
					
					var that = this
					window.addEventListener('message', function(e){
						console.log(e)
						if(e.data.type == 0){
							that.openApp(e.data.com)
						}else if(e.data.type == 1){
							that.closeApp(e.data.com)
						}else if(e.data.type == 2){
							that.closeAllApp()
						}
					})
					
					
				},
				methods: {
					seleHomeApp(name){
						this.seleHomeAppName = name
					},
					openApp(name){
						this.hMoreAppBox = false
						for(var i=0;i<this.homeAppList.length;i++){
							if(this.homeAppList[i].appName == name){
								this.homeAppList[i].appShow = true
							}
						}
						this.seleHomeAppName = name
					},
					closeApp(name){
						for(var i=0;i<this.homeAppList.length;i++){
							if(this.homeAppList[i].appName == name){
								this.homeAppList[i].appShow = false
								this.homeAppBig = ""
							}
						}
					},
					closeAllApp(){
						for(var i=0;i<this.homeAppList.length;i++){
								this.homeAppList[i].appShow = false
								this.homeAppBig = ""
								this.seleHomeAppName = ""
						}
					},
					homeAppBigShowBtn(name){
						if(this.homeAppBig == name){
							this.homeAppBig = ""
						}else{
							this.homeAppBig = name
						}
					},
					
					
					//判断时间是否为个位数，如果时间为个位数就在时间之前补上一个“0”
					check(val) {
						if (val < 10) {
							return ("0" + val);
						} 
						else {
							return (val);
						}
					},
					displayTime() {
						//获取系统当前的年、月、日、小时、分钟、毫秒
						var date = new Date();
						var year = date.getFullYear();
						var month = date.getMonth() + 1;
						var day = date.getDate();
						var hour = date.getHours();
						var minutes = date.getMinutes();
						var second = date.getSeconds();
						var timestr = year + "年" + month + "月" + day + "日  " + this.check(hour)
								+ ":" + this.check(minutes) + ":" + this.check(second);
						//将系统时间设置到div元素中
						this.timeDiv = timestr;
					},
					//每隔1秒调用一次displayTime函数
					start(){
						setInterval(this.displayTime,1000)//单位是毫秒
					},


					// 实现移动端拖拽
					  down(index){
						 var app = this.homeAppList[index]
						 this.seleHomeAppName = app.appName
					    this.flags = true;
					    var touch;
					    if(event.touches){
					        touch = event.touches[0];
					    }else {
					        touch = event;
					    }
					    this.position.x = touch.clientX;
					    this.position.y = touch.clientY;
					    this.dx = app.left;
					    this.dy = app.top;
					  },
					  move(index){
					    if(this.flags){
							var app = this.homeAppList[index]
					      var touch ;
					      if(event.touches){
					          touch = event.touches[0];
					      }else {
					          touch = event;
					      }
					      this.nx = touch.clientX - this.position.x;
					      this.ny = touch.clientY - this.position.y;
					      this.xPum = this.dx+this.nx;
					      this.yPum = this.dy+this.ny;
					      app.left = this.xPum;
					      app.top = this.yPum;
					      //阻止页面的滑动默认事件；如果碰到滑动问题，1.2 请注意是否获取到 touchmove
					      document.addEventListener("touchmove",function(){
					          event.preventDefault();
					      },false);
					    }
					  },
					//鼠标释放时候的函数
					  end(){
					    this.flags = false;
					  },
					 
					shoucangHome(sURL){
						//收藏本站
						var ctrl=(navigator.userAgent.toLowerCase()).indexOf('mac')!=-1?'Command/Cmd':'Ctrl';
						sURL = encodeURI(window.location);
						try{
						//IE
							window.external.addFavorite(sURL, "啊屁股为您服务");
						}catch(e){
							try{
								//其他浏览器
								window.sidebar.addPanel("啊屁股为您服务", sURL, "");
							}catch(e){
								alert("加入收藏失败，请使用"+ctrl+"+D进行添加,或手动在浏览器里进行设置.");
							}
						}
					},
					chongqiHome(){
						if(confirm("是否重启本站")){
							location.reload();
						}
						else{}
					},
					guanji(){
						 if(confirm("是否关闭本站")){
							window.opener=null;
							window.open('','_self');
							window.close();
						 }
						 else{}
					 }
					  
				}
			})
		</script>
	</body>
</html>
