<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>壁纸</title>
	</head>
	<title></title>
	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/home.css" />
	<script src="../js/vue.min.js"></script>
	<style type="text/css" scoped>
			.HxtBoxPic{
				width:300px;
				height:100px;
				border-radius:14px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				overflow: hidden;
				margin:0 auto;
			}
			.HxtBoxInput{
				background:transparent;
				width:100%;
				height:100%;
				display:block;
				font-size:16px;
			}
	</style>
	<body>
		<div id="bizhi" class="homeBoxComIframe">
			<div class="HxtBox">
				<dl>
					<dt>选择更换壁纸</dt>
					<dd class="curP" v-for="(item,index) in picList" @click="changeBg(item.url)">
						<div class="HxtBoxPic" :style="'background-image: url(.' + item.url +');'"></div>
					</dd>
				</dl>
				<dl>
					<dt>输入图片链接更换壁纸</dt>
					<dd>
						<input class="HxtBoxInput" type="text" v-model="picUrl">
					</dd>
					<dd class="flexCc curP" @click="changeHttpsBg">
						确认
					</dd
				</dl>
			</div>
		</div>
		
		<script>
			var app = new Vue({
				el: '#bizhi',
				data: {
					picUrl:"",
					picList:[
						{
							url:"./images/hbg001.jpg",
							name:"背景001"
						},
						{
							url:"./images/hbg002.jpg",
							name:"背景002"
						},
						{
							url:"./images/hbg003.jpg",
							name:"背景003"
						},
						{
							url:"./images/hbg004.jpg",
							name:"背景004"
						},
	
					]
				},
				mounted() {
					
				},
				methods: {
					changeHttpsBg(){
						if(this.picUrl != ''){
							this.changeBg(this.picUrl)
						}
					},
					changeBg(url){
						window.parent.postMessage({
							"type":9,
							"com":url
						}, '*');
					}
				}
			})
		</script>
	</body>
</html>
